html {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	font-size: 20px;
}

h1, h2, {
	font-weight: 300;
	font-family: 'Bungee', cursive;
}

h3, h4, h5, h6 {
	font-weight: 300;
}

.branding {
	font-family: 'Bungee', cursive;
}

.container {
	margin: 0 auto;
	max-width: 80%;
}

form.accounts {
	max-width: 600px;
	width: 100%;
}

@media (min-width:1030px) {
	.container {
		max-width: 85%;
	}
}

.Section {
	padding-left: 30px;
    padding-right: 30px;
    min-height: 360px;
}

.Section > * {
	max-width: 960px;
	margin: 0 auto;
}

.dash-panel:hover {
	background-color: #eee !important;
}

.form-group {
	margin-bottom: 20px;
}